<div class="container">
<%= simple_form_for @art do |f| %>
  <%= f.input :name %>
  <%= f.input :author %>
  <%= f.input :picture %>
  <%= f.input :description %>
  <%= f.association :sort %>
  <%= f.button :submit %>

<% end %>
</div>