<section class="pt-5">
<div class="container">
<div class="card mb-3 border-0 shadow" >
  <div class="row no-gutters">
    <div class="col-md-8">
      <img src="<%= @art.picture %>" class="card-img" alt="...">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title"><%= @art.name %></h5>
        <p class="card-text"><%= @art.description %></p>
        <p class="card-text"><small class="text-muted"><%= @art.author %></small></p>
        <div class="container">
		</div>
      </div>
    </div>
  </div>
</div>
</div>
</section>

<section class="py-5 container">
<%= link_to 'Back', @art.sort, class: 'btn btn-light' %>	
</section>