<!DOCTYPE html>
<html>
  <head>
    <title>Museum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
  </head>

  <body>

    <!-- NAV BAR -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: transparent;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search </button>
    </form>
  </div>
</nav>

  <!-- NAV BAR FIN -->


    <%= yield %>

  <!-- FOOTER -->

    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; architecturemuseum</small>
    </div>
  </footer>

  <!-- FOOTER FIN-->

  </body>
</html>
